@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

a,
button{
    @apply transition-all duration-300 ease-in-out
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

@screen dark {
    input[type="text"],
    input[type="number"],
    select.form-select,
    textarea.form-input{
        @apply bg-gray-600;
        @apply border-gray-400;
        @apply text-gray-400;
    }
}
